# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ignore everything at root
/*

# But keep m4 directory
!/m4/

# Within m4, ignore everything
/m4/*

# But keep src directory within m4
!/m4/src/

# Keep configuration files in m4
!/m4/*.mk
!/m4/Makefile
!/m4/FreeRTOSConfig.h
!/m4/README.md
!/m4/soc_init.c
!/m4/soc_init.h

# And keep .gitignore
!.gitignore
